{% extends 'base.html' %}

{% block header %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <h1>{% block title %}Device Manager{% endblock %}</h1>
    <a class="action" href="{{ url_for('dashboard.index') }}">Back to Dashboard</a>
{% endblock %}

{% block content %}
    <form name="devices" id="deviceStatsForm" action="{{ url_for('statistics.get_data', id=0) }}" method="get">
        <select name="deviceId" required onchange="">
            <option disabled selected value> -- select a device -- </option>
        {% for device in devices %}
            <option value="{{ device['id']}}">{{ device['description']}}</option>

            {% if not loop.last %}
            {% endif %}
        {% endfor %}
        </select>
    <input type="submit" value="Load Statistics!">
    </form>

    <div id="chart_div"></div>

{% endblock %}