{% extends 'base.html' %}

{% block header %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <h1>{% block title %}Statistics{% endblock %}</h1>
    <a class="action" href="{{ url_for('dashboard.index') }}">Back to Dashboard</a>
{% endblock %}

{% block content %}
    <form name="devices" action="stats/device" id="deviceStatsForm" method="get" onsubmit="formAction()">
        <select name="deviceId" required onchange="this.form.submit()">
            {% if option is none: %}
                <option disabled selected value> -- select a device -- </option>
            {% endif %}
        {% for device in devices %}
            {% if option ==  device['id']%}
                <option value="{{ device['id']}}" selected>{{ device['description']}}</option>
            {% else: %}
                <option value="{{ device['id']}}">{{ device['description']}}</option>
            {% endif %}

            {% if not loop.last %}
            {% endif %}
        {% endfor %}
        </select>
    <input type="submit" value="Load Statistics!">
    </form>

    {% if option is not none: %}
        {% include 'dashboard/stats_pie_chart.html' %}
    {% endif %}

{% endblock %}