{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Statistics{% endblock %}</h1>
    <a class="action" href="{{ url_for('dashboard.index') }}">Back to Dashboard</a>
{% endblock %}

{% block content %}
    {% if option is none: %}
    <h3>Select the device you want to see a chart</h3>
    <form name="devices" action="stats/device" id="deviceStatsForm" method="get">
        <select name="deviceId" required onchange="this.form.submit()">
            <option disabled selected value> -- select a device -- </option>
        {% for device in devices %}
            <option value="{{ device['id'] }}">{{ device['description']}}</option>
        {% endfor %}
        </select>
    </form>
    {% endif %}

    {% if option %}
        {% include 'dashboard/stats_pie_chart.html' %}
        <a class="action" href="{{ url_for('statistics.statistics') }}">Return</a>
    {% endif %}

{% endblock %}